.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}





.text-block-section {
margin: 3rem 0;

}
 


.iframe-container {
	margin-top:100px;
}

#rsvp {
	color:hsl(1, 17%, 95%);
	width: auto;
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
}

#rsvp span {
	background-color: hsl(0, 15%, 55%);
	padding: 10px 20px;
}

#mh-logo {
	display: block;
	width:200px;
	margin:0 auto;
	text-align: center;
}




/* Bouncing arrow */


.bouncing-arrow-container {
    height: 75px;
    position: relative;
    width: 100%;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 2s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}





#footer {
	margin-bottom: 5em;
	display: block;
}

#footer.alt .logo {
	-moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
	-webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
	-ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
	transition: opacity 1.25s ease, transform 0.5s ease;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	display: block;
}

#footer.alt .logo img {
	cursor: -webkit-grab; cursor: grab;
	display: block;
	margin: 0 auto;
	max-width: 80px;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transition: width 1s, height 1s, transform 1s;
}

#footer.alt .logo img:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition-delay: 0.5s;
	cursor: pointer;
}








*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: none;
	text-decoration: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	border: none;
	list-style: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

*:visited,
*:active {
	color: inherit
}

@font-face {
	font-family: "Poppins";
}

@font-face {
	font-family: "Didot LT";
}

:root {
	--c-bg: hsl(1, 17%, 95%);
	--c-text: hsl(0, 15%, 55%);
	--font-family: "Poppins", sans-serif;
	--font-serif: "Didot LT", Didot, serif;
	--font-size: 17px;
	--font-lineheight: 26px;
	--font-weight: 400;
	--font-style: normal;
	--font-scale-xs: 0.79;
	--font-scale-s: 0.889;
	--font-scale-m: 1.125;
	--font-scale-l: 1.226;
	--font-scale-xl: 1.2;
	--font-scale-xxl: 3;
	--l-regular: 24rem;
	--l-wide: 36rem;
	--l-archive: 37rem;
	--l-archive-wide: 57rem;
	--l-text: 19rem;
	font-size: var(--font-lineheight);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-style: var(--font-style);
	background: var(--c-bg);
	color: var(--c-text)
}

@media (min-width: 700px) {
	:root {
		--font-size: 21px;
		--font-lineheight: 34px
	}
}

@media (min-width: 700px) {
	:root {
		--font-scale-xl: 1.35
	}
}

::-moz-selection {
	background: var(--c-text);
	color: var(--c-bg)
}

::selection {
	background: var(--c-text);
	color: var(--c-bg)
}

body,
html {
	width: 100%;
	height: 100%
}

body *,
html * {
	font-size: var(--font-size);
	line-height: 1.05rem;
	letter-spacing: 0.05em
}

body {
	overflow: auto
}

.opening {
	width: 100%;
	height: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: relative
}

.opening::before,
.opening::after {
	content: "";
	display: block;
	width: 90%;
	height: 35%;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	margin: 0 auto
}

.opening::before {
	background-position: center bottom;
	top: 5vmin;
	background-image: url("../images/illustration_1.jpg")
}

.opening::after {
	background-position: center top;
	bottom: 5vmin;
	background-image: url("../images/illustration_2.jpg")
}

.opening-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	text-align: center;
	margin: auto;
	font-family: var(--font-serif);
	font-size: 10vmin
}

.opening-title span {
	display: inline;
	font-size: inherit;
	letter-spacing: 0.2em
}

.opening-title span:nth-child(2) {
	margin: 0 .3em
}

.text {
	text-align: center;
	text-transform: uppercase;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 1rem
}

.date-text {
    font-size: 35px;
    color: #9D7A79;
    font-family: "Didot LT" , Didot, serif;
    text-align:center;
	margin-bottom: 100px;
}

@media (min-width: 700px) {


.opening {
	height: 75%;
}

}

.text .optional br {
	display: none
}

@media (min-width: 1000px) {
	.text .optional br {
		display: initial
	}

	.date-text {
    font-size: 80px;
}

.opening {
	height: 100%;
}

}

.text p:not(:last-child) {
	margin-bottom: 1rem
}

.opening+.text {
	margin-top: 0
}

@media (min-width: 700px) {
	.opening+.text {
		margin-top: 4rem
	}
}

.text-big {
	font-size: calc(var(--font-size) * var(--font-scale-xl));
	line-height: 1.3rem;
	letter-spacing: 0.1em;
	letter-spacing: 0.1em
}
.text-big span {
	font-size: calc(var(--font-size) * var(--font-scale-xl));
	font-weight:700;
}

.text-big:not(:last-child) {
	margin-bottom: .5rem
}

.text a {
	background: -webkit-linear-gradient(bottom, var(--c-text) 1px, transparent 1px);
	background: linear-gradient(to top, var(--c-text) 1px, transparent 1px);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition-property: color, background-size;
	transition-property: color, background-size;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}

.text a:hover {
	background-size: 100% 100%
}

.date {
	margin-top: 4rem;
	margin-bottom: 3rem;
	padding: 0 1rem
}

.date-image {
	display: block;
	width: 100%;
	height: auto
}

@media (min-width: 500px) {
	.date-image {
		height: 2rem;
		width: auto;
		margin: 0 auto
	}
}

.date-caption {
	position: absolute;
	top: -999999px;
	left: -999999px
}

.illustration-container {
	max-width: 22rem;
	margin: 2rem auto;
	padding: 0 1rem
}

@media (min-width: 700px) {
	.illustration-container {
		margin: 0 auto
	}
}

.illustration-container-small {
	max-width: 16rem
}

.illustration-container-final {
	max-width: 8rem;
	margin-bottom: 0;
	padding-bottom: 2rem
}

@media (min-width: 700px) {
	.illustration-container-final {
		padding-bottom: 4rem
	}
}

.illustration {
	display: block;
	width: 100%;
	height: auto
}